.productCard_block :hover {
  cursor: pointer;
}

/* .block_product {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 5px;
  justify-content: space-around;
}
.block_product:hover {
  cursor: pointer;
  background-color: rgba(66, 65, 65, 0.123);
  transition: 0.7s;
} */

.block_price {
  width: 100%;

  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  color: #1a1a1a;
  padding: 0px 5px;
}
.block_price__currency {
  text-align: left;
  line-height: 1;
  font-family: 'LabGrotesque';
  font-weight: 400;
}
.block_descriptionInformation {
  flex-grow: 1;

  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  color: #263238;
}
.button_addToCard {
  height: 46px;
  margin-top: auto;
  display: block;
  color: #fff;
  background-color: #536dfe;
  font-size: 17px;
}

.productCard_block {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 5px;
  max-width: 230px;
}
.product-card__title {
  text-align: center;
  text-transform: capitalize;
  margin: 5px 0;
  color: rgb(17, 17, 17);
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.a {
  text-align: center;
}

.button-cart:hover {
  background-color: #18141429;
}
@media (min-width: 320px) {
  .bottom-subtitle {
    display: flex;
  }
  .productCard_block {
    margin: 5px;
    flex-grow: 0;
    flex-basis: calc(100% / 2 - 10px);
    min-width: 140px;
  }
  .product-card__title {
    margin-bottom: 0;
    font-size: 1.4rem;
  }
  .button-cart {
    width: 20%;
    padding: 2px 0;
    font-size: 1rem;
  }
  .button-buy {
    border-left: none;
    width: 40%;
    flex-grow: 1;
    padding: 2px 0;
    font-size: 1rem;
  }
  .button-phone {
    border-left: none;
    width: 30%;
    flex-grow: 1;
    padding: 2px 0;
    font-size: 1rem;
  }
}
@media (min-width: 480px) {
  .productCard_block {
    margin: 5px;
    flex-grow: 0;
    flex-basis: calc(100% / 3 - 10px);
  }
}

@media (min-width: 680px) {
  .productCard_block {
    flex-grow: 0;
    flex-basis: calc(100% / 4 - 10px);
    min-width: 150px;
  }
}

@media (min-width: 1140px) {
  .productCard_block {
    flex-grow: 0;
    flex-basis: calc(100% / 5 - 10px);
    min-width: 200px;
  }
}
