.block_product {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 5px;
  justify-content: space-around;
  /* height: 100%; */
}
.block_product:hover {
  cursor: pointer;
}
.productCard_block {
  display: flex;
  flex-direction: column;
  margin: 10px;
  box-shadow: 0 5px 21px rgba(0, 0, 0, 0.171);
  background-color: rgb(243, 239, 239);
}
.product-card__title {
  padding-top: 2px;
  font-size: 14px;
  color: rgb(17, 17, 17);
  font-weight: 500;
}
.block_price {
  margin-top: 15px;
  width: 100%;
}
.block_price__currency {
  text-align: left;
  line-height: 1;
  font-family: 'LabGrotesque';
  font-weight: 400;
}
.block_descriptionInformation {
  flex-grow: 1;

  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  color: #263238;
}
.button_addToCard {
  /* width: 147px; */
  height: 46px;
  margin-top: auto;
  display: block;
  color: #fff;
  background-color: #536dfe;
  font-size: 17px;
}
@media (min-width: 360px) {
  .productCard_block {
    margin: 5px;
    flex-grow: 0;
    flex-basis: calc(100% / 2 - 10px);
    min-width: 270px;
  }
}
@media (min-width: 480px) {
  .productCard_block {
    margin: 5px;
    flex-grow: 0;
    flex-basis: calc(100% / 2 - 10px);
    min-width: 200px;
  }
}

@media (min-width: 650px) {
  .productCard_block {
    margin: 5px;
    flex-grow: 0;
    flex-basis: calc(100% / 3 - 10px);
    min-width: 200px;
  }
}
@media (min-width: 900px) {
  .productCard_block {
    margin: 5px;
    flex-grow: 0;
    flex-basis: calc(100% / 4 - 10px);
    min-width: 200px;
  }
}
@media (min-width: 1140px) {
  .productCard_block {
    margin: 5px;
    flex-grow: 0;
    flex-basis: calc(100% / 5 - 10px);
    min-width: 200px;
  }
}
